@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --zrp-navy: #0b0c0c;
    --zrp-gold: #f8c23e;
    --zrp-red: #d32f2f;
    --zrp-bg: #f0f2f5;
    --font-main: sans-serif; /* This is the standard font family used throughout the app */
}
body {
    font-family: var(--font-main);
    background-color: var(--zrp-bg);
    color: var(--zrp-navy);
}
h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 10px;
    color: var(--zrp-navy);
}
h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 30px;
    color: grey;
    padding-bottom: 5px;
    border-bottom: 2px solid #b1b4b6;
}
    